@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Main */

.listbox {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 6px;
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
}

.listbox__item {
    user-select: none;
    margin-top: 5px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.listbox__item-selected {
    background: rgb(13, 110, 253);
    color: #fff;
}

/* Themes */

/* -- Light -- */

.listbox__light {
    background: rgb(235, 235, 235);
}

.listbox__item-hover-light:hover {
    background: rgb(220, 220, 220);
}

/* -- Dark -- */

.listbox__dark {
    background: rgb(33, 37, 41);
    color: #fff;
}

.listbox__item-hover-dark:hover {
    background: rgb(43, 48, 53);
}